  
  .margins{
    margin: 80px 0px 10px 30px;
    
  }
  
  
  
  .btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin : 0px 0px 0px 630px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  
  .btn:hover {
    opacity: 1;
    color:black;
    
  }
   
  
    
  .con {
    background-color: #f1f1f1;
    padding: 30px 10px;
  }
  