
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0px;
    background-color: #ff0000;
  }

/*sets font size for nav bar elements*/
.align{
  font-size: 15px;
  }

  #navbarDropdown
{
  padding-right: 30px;
}



/*background color for the drop down*/
.dropdown-menu{
  background-color: #ff0000;
  color: #000000;
  }


  .dropdown-menu:focus{
    background-color: #ffffff;
    }

    /*sets padding around the navbar elements and margins*/
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: -12px 0px;
  
    margin-right: 24px;
    padding: 14px 30px;
    text-decoration: none;
}


 .navbar-nav li a{
    color: #fff;
}

.navbar li a:hover:not(.focus) {
    background-color: #fff;
    color: red;
}

.navbar-nav li a:focus{
    background-color: #ffffff;
    color: red;
    
}

.navbar-inverse .navbar-nav .dropdown.open .dropdown-toggle
{
  background-color: #fff;
    color: red;
}

.logomargin{
  margin: 0px 0px; 
  padding-top: 0px;
  padding-bottom: 0px;
}


.con {
    background-color: #f1f1f1;
    padding: 20px 10px;

  }

  .btn {
    background-color: #ff0000;
    color: white;
    padding: 14px 34px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    width: 15%;

  }
  
  .btn:hover {
    background-color: #ff0000;
    color:#000000;

  }

  

 .margin{
    margin-top: 200px;
  }


/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 35%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: none;
  background: #eeeeee;
  /*background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;*/
}



input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
  background-color: #ffffff;
  outline: none;
}

.container{
  
    margin : 100px 150px;
    font-size: 26px;
   
}

.margin{
  margin-top: 150px;
  margin-left: 150px;
}