
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0px;
    background-color: #ff0000;
  }
  
  /*sets font size for nav bar elements*/
  .align{
  font-size: 15px;
  }
  
  #navbarDropdown
  {
  padding-right: 30px;
  }
  
  
  /*background color for the drop down*/
  .dropdown-menu{
  background-color: #ff0000;
  color: #000000;
  }
  
  
  .dropdown-menu:focus{
    background-color: #ffffff;
    }
  
    /*sets padding around the navbar elements and margins*/
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: -12px 0px;
  
    margin-right: 24px;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  
  .navbar-nav li a{
    color: #fff;
  }
  
  .navbar li a:hover:not(.focus) {
    background-color: #fff;
    color: red;
  }
  
  .navbar-nav li a:focus{
    background-color: #ffffff;
    color: red;
    
  }
  
  .navbar-inverse .navbar-nav .dropdown.open .dropdown-toggle
  {
  background-color: #fff;
    color: red;
  }
  
  .logomargin{
  margin: 0px 0px; 
  padding-top: 0px;
  padding-bottom: 0px;
  }
  
  .margin{
    margin-top: 130px;  
    margin-left: 125px;
    color : #ff0000;
  }


  .btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    width: 15%;
 
  }
  
  .btn:hover {
    background-color: #ff0000;
    color:#000000;
  
  }
  


  
  /* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #ffffff;
}  