
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0px;
  background-color: #ff0000;
}

/*sets font size for nav bar elements*/
.align{
font-size: 15px;
}

#navbarDropdown
{
padding-right: 30px;
}


/*background color for the drop down*/
.dropdown-menu{
background-color: #ff0000;
color: #000000;
}


.dropdown-menu:focus{
  background-color: #ffffff;
  }

  /*sets padding around the navbar elements and margins*/
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  margin: -12px 0px;

  margin-right: 24px;
  padding: 14px 30px;
  text-decoration: none;
}


.navbar-nav li a{
  color: #fff;
}

.navbar li a:hover:not(.focus) {
  background-color: #fff;
  color: red;
}

.navbar-nav li a:focus{
  background-color: #ffffff;
  color: red;
  
}

.navbar-inverse .navbar-nav .dropdown.open .dropdown-toggle
{
background-color: #fff;
  color: red;
}

.logomargin{
margin: 0px 0px; 
padding-top: 0px;
padding-bottom: 0px;
}

.margin{
  margin-top: 130px;  
  margin-left: 125px;
  color : #ff0000;
}

.margintop{
  margin-top: 30px;
}


.paddingtop{
  padding-top: 40px;
}

.paddingbottom{
  padding-bottom: 80px;
}

.marginsides{
  margin-right: 20px;
  margin-left: 20px;
}

.container{
border: solid 1px #d1d1d1;
}

.btn {
  background-color: #ff0000;
  color: white;
  padding: 13px 4px;
  margin: 10px 50px;
  border: none;
  cursor: pointer;
  width: 15%;
}

.btn:hover {
  background-color: #ff0000;
  color:#000000;
}


input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: none;
  background: #eeeeee;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
  background-color: #ffffff;
  outline: none;
}


