

.margin{
    margin-top: 130px;  
    margin-left: 125px;
    color : #ff0000;
}

.margintop{
    margin-top: 30px;
}


.paddingtop{
    padding-top: 40px;
}

.paddingbottom{
    padding-bottom: 80px;
}

.marginsides{
    margin-right: 20px;
    margin-left: 20px;
}

.container{
  border: solid 1px #d1d1d1;
}

.btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
  }
  
  .btn:hover {
    background-color: #ff0000;
    opacity: 1;
    
  }

  .btn:focus {
    background-color: #ff0000;
    opacity: 1;
    
  }

  
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
   

  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}