

.margintop{
    margin-top: 150px;
}

/*.table{
    border : 1px solid black;
}*/

.margin1{
    margin-top: 40px;
    margin-left: 70px;
}

.btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin-right: 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }

  
  .btn:hover {
    opacity: 1;
    color: #000000;
  }

    
.con {
    background-color: #f1f1f1;
    padding: 30px 10px;
  }
  