/*sizing the modal*/
#userlogin-modal .modal-dialog{
    width : "200px";
    height : "200px";
  }
  
  /*Aligning input fields*/
  #userlogin-modal input[type = text],input[type = password],input[type = email]{
    padding-top: 10px;
  }
  
  .modal-header{
    background-color: #444444;
    color: #ffffff;
    padding-bottom: 0px;
  }
  
  .modal-header{
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .btn1 {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin: 0px 100;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.;
  }
  
  .btn:hover {
    opacity: 1;
    
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 10px 0;
    border: none;
    background: #eeeeee;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ffffff;
    outline: none;
  }
  

  /* Important part */
  .modal-dialog1{
      overflow-y: initial;
  }
  .modal-body1{
      height: 400px;
      overflow-y: auto;
  }

  .modal-header{
    padding-top: 15px;
  }

  .close{
    color: #ffffff;
  }

  .cbutton{
    padding: 5px 10px;
  }