/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0px;
    background-color: #ff0000;
  }

/*sets font size for nav bar elements*/
.align{
  font-size: 15px;
  }

/*background color for the drop down*/
.dropdown-menu{
  background-color: #ff0000;
  color: #ffffff;
  }


    /*sets padding around the navbar elements and margins*/
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: -12px 0px;
  
    margin-right: 24px;
    padding: 14px 30px;
    text-decoration: none;
}



/*padding for dropdown*/
#navbarDropdown
{
  padding-right: 30px;
}

/*sets margin around the logo*/
.logomargin{
  margin: 0px 0px; 
  padding-top: 0px;
  padding-bottom: 0px;
}

/*Setting font styles*/
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/*Styles for footer*/ 
.con {
    background-color: #f1f1f1;
    padding: 30px 10px;
  }

 /*styles navbar link items on hover,focus and while active*/
  .navbar-light .nav-item:active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  background-color: #ffffff;
        color: #ff0000;
}

/*styles navbar link items*/
.navbar-light .nav-item .nav-link{
  color: #ffffff;
}


/*styles navbar link dropdown items*/
.navbar-light .dropdown-item:active  ,
.navbar-light .dropdown-item:focus ,
.navbar-light .dropdown-item:hover {
  background-color: #ffffff;
        color: #ff0000;
}

