

  .container-fluid{
    background-color: #ff0000;
    margin-top: 120px;
    color: #ffffff;
}

p.size{
    font-size: 24px;
}

.paddingleft{
    padding-left: 360px;
}

.border{
    border: solid 1px;
}

.paddingtop{
    padding-top: 40px;  
}

.paddingbottom{
    padding-bottom: 40px;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    color: #ffffff;

  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}