
.container{
    border : solid 1px #a1a1a1;
}

.margintop{
    margin-top: 40px;
}

.margin{
    margin-top: 140px;
    margin-left: 70px;
}

.margin1{
    margin-top: 40px;
    margin-left: 70px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    
    background: #ffffff;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #f4f4f4;
    box-sizing: border-box;
    
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    margin-right: 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }

  
  .btn:hover {
    opacity: 1;
    
  }

  .btn1 {
    background-color: #fff000;
    color: black;
    padding: 13px 4px;
    margin: 0px 0 2px 0;
    border: none;
    cursor: pointer;
    width:15%;
    opacity: 1;
  }

  .btn1:hover {
    opacity: 0.9;
    
  }

  
.con {
    background-color: #f1f1f1;
    padding: 30px 10px;
  }
  
 
 