
  .container-fluid{
    background-color: #ff0000;
    margin-top: 120px;
    color: #ffffff;
}

p.fontsize{
    font-size: 22px;
}

.solidborder{
    border: 1px solid #888888;
    background-color: #f1f1f1;
}

.dashedborder{
    border: 1px dashed;
    margin: 20px 20px;
    padding : 20px 10px 20px;
    background-color: #ffffff
}

.btn {
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    padding: 13px 4px;
    margin: 60px 500px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
  
  .btn:hover {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn:focus {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn1 {
    background-color: #ff0000;
    color: white;
    padding: 4px 0px 4px 20px;
    margin-left: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  .btn1:hover {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn1:focus {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

    /* unvisited link */
a:link {
    color: #ffffff;
  }
  
  /* visited link */
  a:visited {
    color: #ffffff;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffffff;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
  }  

  .margin{
      margin: 20px 0px 0px 10px;
  }

.position{
  margin-left: 20px;
  margin-top: 15px;
}



  
