/*sizing the modal*/
#userlogin-modal .modal-dialog{
  width : "200px";
  height : "200px";
}

/*Aligning input fields*/
#userlogin-modal input[type = text],input[type = password],input[type = email]{
  padding-top: 10px;
}

.modal-header{
  background-color: #444444;
  color: #ffffff;
  padding-bottom: 0px;
}

.modal-header{
  padding-bottom: 0px;
  padding-top: 0px;
}

.bt {
  background-color: #ff0000;
  color: white;
  padding: 13px 4px;
  margin: 0px 100;
  border: none;
  cursor: pointer;
  width: 100%;
  
}

.bt:hover {
  opacity: 1;
  
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: none;
  background: #eeeeee;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ffffff;
  outline: none;
}


/* Important part */
.modal-dialog1{
    overflow-y: initial;
}
.modal-body1{
    height: 400px;
    overflow-y: auto;
}

.modal-header{
  padding-top: 15px;
}

.close{
  color: #ffffff;
}

.cbutton{
  padding: 5px 10px;
}

  .container-fluid{
    background-color: #ff0000;
    margin-top: 120px;
    color: #ffffff;
}

p.size{
    font-size: 22px;
}

.solidborder{
    border: 1px solid #888888;
    background-color: #f1f1f1;
}

.dashedborder{
    border: 1px dashed;
    margin: 20px 20px;
    padding : 20px 10px 20px;
    background-color: #ffffff
}

.btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 4px;
    text-decoration: none;
    margin: 60px 500px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
  
  .btn:hover {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn:focus {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn1 {
    background-color: #ff0000;  
    color: white;
    padding: 4px 0px 4px 20px;
    margin-left: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  .btn1:hover {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
    
  }

  .btn1:focus {
    background-color: #ff0000;
    opacity: 1;
    
  }

    /* unvisited link */
a:link {
    color: #ffffff;
  }
  
  /* visited link */
  a:visited {
    color: #ffffff;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffffff;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
  }  

  .margin{
    margin: 20px 0px 0px 10px;
}

.position{
margin-left: 20px;
margin-top: 15px;
}
