
.container{
    margin-top: 150px;
    padding-top: 20px;
    border: solid 1px #d1d1d1;
}

.aligncenter{
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 50%;
    padding: 10px;
    margin-left: 120px;
    margin: 0px 0 10px 0;
    border: none;
    background: #eeeeee;
    /*background-image: url('searchicon.png');
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;*/
  }
  
  
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ffffff;
    outline: none;
  }


.btn {
    background-color: #ff0000;
    color: white;
    padding: 13px 14px 13px 14px;
    margin: 30px 0px 60px 0px;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
  }
  
  .btn:hover {
    background-color: #ff0000;
    opacity: 1;
    
  }

  .btn:focus {
    background-color: #ff0000;
    opacity: 1;
    
  }

  
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
   

  }
  
