.top-left {
  position: absolute;
  top: 80px;
  left: 170px;
  color: white;
  font-size: 55px;
}





.bg-img {
  /* The image used */
  background-image: url("../images/formbg.jpg");
  margin-top: 18px;
  width: 100%;
  height: 400px;
  opacity: 0.8;
}

/* Add styles to the form container */
.container1 {
  position: absolute;
  right: 0;
  margin: 63px 50px 60px;
  max-width: 470px;
  padding: -46px;
  
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: none;
  background: #eeeeee;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
  background-color: #ffffff;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #ff0000;
  color: white;
  padding: 13px 4px;
  margin: 0px 0 2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.;
}

.btn1 {
  background-color: #ff0000;
  color: white;
  padding: 13px 4px;
  margin: 0px 100;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.;
}

.btn:hover {
  opacity: 1;
  
}

#navbarDropdown
{
  padding-right: 30px;
}



.con {
  background-color: #f1f1f1;
  padding: 20px 10px;


}

.textpadding{
  padding: 30px;
  background-color : #dd0000;
  color: white;
}

.padding{
  padding: 30px;
  padding-left: 30px;
  font-size: 26px;
  color:#818181;  
  

}

li.highlight:hover{
  color: red;
}


img.pad{
  padding: 40px;
}


  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
    

  }
  
